* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    
    font-family: 'open sans', oswald;
    background-color: white;
    max-width: 60rem;
    margin: 0 auto;
    
  
    
}

.header {
    background-color: rgb(2	61	114);
    color: white;
    padding: 20px 35px;
    padding-left: 35px;
    margin: 0;
    width : 100%;
    border-bottom: 2px solid rgb(139	222	238	);

}

.contents {
    padding-left: 35px;

}

.adopt {
    padding-top: 20px;
    padding-bottom: 20px;
}

.interest {
    padding-bottom: 10px;
}
.dog_form {
    background-color: rgb(236	233	234	);
    /* max-width: 60rem; */
    font-size: 12px;
    line-height: 1.5;
    
    
}

p {
    font-size: 12px;
    line-height: 1.5;
}

.form_title {
    margin-bottom: 1rem;
}

.questions {
    display: flex;
    margin-left: 10px;
}

.list_of_dogs {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    

}

.list_of_dogs img {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    padding-top: 10px;

    
    

}

